# _______________________________________________
# 		Whole Folder
# _______________________________________________

# _______________________________________________
# 		Mixed
# _______________________________________________
/yaml_cpp/build/debug/*
!/yaml_cpp/build/debug/Makefile

/yaml_cpp/build/release/*
!/yaml_cpp/build/release/Makefile
# _______________________________________________
# 		Whole Type
# _______________________________________________
*.idea


# _______________________________________________
# 		Single File
# _______________________________________________
